{% extends 'companies/base.html' %}

{% block content %}
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>На сайте представлен список компаний и организаций в городе Гомеле, так или иначе связанных с информационными
          технологиями или разработкой программного обеспечения. </p>
        <p>По каждой компании можно перейти для получения более подробной информации о ней, а также о расположении её офисов
        на карте Гомеля.</p>
        <p>Если Вы одна из таких компаний и не нашли себя в данном списке, пожалуйста, сообщите о себе через контактную
        форму или напрямую через одну из ссылок в нижнем колонтитуле сайта (Telegram или Linkedin).</p>
        <p>Также, если у какой-либо компании или организации, представленной на сайте, есть замечания или жалобы по поводу
          размещения на сайте их логотипа или недостоверной информации, пожалуйста, сообщите об этом.</p>
        <p>Данный сайт был разработан и продолжает развиваться исключительно в образовательных целях. Исходный код
        сайта размещен в открытом репозитории на GitHub, ссылка на который представлена в нижнем колонтитуле сайта.</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}