{% extends 'companies/base.html' %}
{% load static %}

{% block content %}
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Есть замечания или предложения? Пишите!</p>
        <div class="my-5">
        <form action="{% url 'contact' %}" method="post">
          {% csrf_token %}
          {% for f in form %}
            <div class="form-floating">
            <p>
            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
            </p>
            <div>{{ f.errors }}</div>
            </div>
          {% endfor %}
          <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Отправить</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}