{% extends 'companies/base.html' %}

{% block content %}
	<div class="container px-5">
		{% for c in company %}
			<div class="row gx-5 align-items-center">
				<div class="col-lg-4 order-lg-2">
					{% if c.logo_url %}
						<div class="p-5"><img class="img-fluid" src="{{ c.logo_url }}" alt="Company Logo"/></div>
					{% endif %}
				</div>
				<div class="col-lg-8 order-lg-1">
					<div class="p-2">
						<a href="{{ c.get_absolute_url }}">
							<h2 class="display-4">{{ c.name }}</h2>
						</a>
						<p>{{ c.content|linebreaks|truncatewords:20 }}</p>
					</div>
				</div>
			</div>
			<hr class="my-2">
		{% endfor %}
	</div>
{% endblock %}

{% block pagination %}
	{% if page_obj.has_other_pages %}
		<nav aria-label="...">
			<ul class="pagination justify-content-center">

				{% if page_obj.has_previous %}
					<li class="page-item" title="Предыдущая">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}">
				{% else %}
					<li class="page-item disabled" title="Предыдущая">
					<a class="page-link">
				{% endif %}
				<span aria-hidden="true" >&lsaquo;</span>
				<span class="sr-only">Предыдущая</span>
					</a>
				</li>

				{% if page_obj.number >= 3 %}
					<li class="page-item" title="Первая">
						<a class="page-link" href="?page=1">
							<span aria-hidden="true">1</span>
							<span class="sr-only">Следующая</span>
						</a>
					</li>
				{% endif %}
				{% if page_obj.number >= 3 and page_obj.number != 3 %}
					<li class="page-item disabled">
						<a class="page-link">
							<span aria-hidden="true">...</span>
							<span class="sr-only">...</span>
						</a>
					</li>
				{% endif %}

				{% for p in paginator.page_range %}
					{% if page_obj.number == p %}
						<li class="page-item disabled">
							<a class="page-link" href="#">{{ p }}<span class="sr-only"></span></a>
						</li>
					{% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
						<li class="page-item">
							<a class="page-link" href="?page={{ p }}">{{ p }}</a>
						</li>
					{% endif %}
				{% endfor %}

				{% if page_obj.number <= paginator.num_pages|add:-3 %}
					<li class="page-item disabled">
						<a class="page-link">
							<span aria-hidden="true">...</span>
							<span class="sr-only">...</span>
						</a>
					</li>
				{% endif %}
				{% if page_obj.number <= paginator.num_pages|add:-2 %}
					<li class="page-item" title="Последняя">
						<a class="page-link" href="?page={{ paginator.num_pages }}">
							<span aria-hidden="true">{{ paginator.num_pages }}</span>
							<span class="sr-only">Следующая</span>
						</a>
					</li>
				{% endif %}

				{% if page_obj.has_next %}
					<li class="page-item" title="Следующая">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}">
				{% else %}
					<li class="page-item disabled" title="Cледующая">
					<a class="page-link">
				{% endif %}
				<span aria-hidden="true">&rsaquo;</span>
				<span class="sr-only">Следующая</span>
					</a>
				</li>

			</ul>
		</nav>
	{% endif %}
{% endblock pagination %}
